.headercontainer
{
    border:1px solid white;
    margin:0px -15px;
    background:url('../images/top-notice2-bg.jpg') no-repeat 0px 0px / 100%;
    height:60px;
    h1{
        color:white;
        font-size:16px;
        text-align:center;
    }
    h2{
        color:#fec92a;
        text-align:center;
        font-size:16px;
        margin-top:-29px;
        padding-left:400px;
        text-transform:capitalize;
        font-weight:bold;
    }
    a{
        color:white;
        font-size:30px;
        text-decoration:none;
        position:relative;
        top:-40px;
        left:1487px;
        font-weight:normal;
    }
}
.logocontainer
{
    .logo1{
        float:left;
        img{
            width:55%;
            margin-left:53px;
            margin-top:20px;
        }
    }
    .logo2{
        float:left;
        .custom-email20{
            padding:23px 27px;
            margin-left:25px;
            margin-top:20px;
            width:421px;
            border-radius:0px;
        }
    }
    .menu{
        border:1px solid #cccccc;
        background: none;
        width:135px;
        position:relative;
        top:-63px;
        left:530px;
        padding:6px;
        .risk{
            color:#999999;
            text-transform:capitalize;
            font-size:14px;
            border:1px solid white;
            background:none;
            &:hover{
                background:none;
                color:#999999;
            }

        }
    }
    a{
        position:relative;
        top:28px;
        left:4px;
        padding:11px 18px;
        font-size:23px;
        background:#2b38d1;
        color:white;
    }
    .logo3{
        float:left;
        a{
            color:black;
            background:none;
            font-size:24px;
            position:relative;
            left:482px;
        }
        h6{
            color:black;
            position:relative;
            top:15px;
            left:478px;
            font-size:13px;
            text-transform: capitalize;
        }
    }
    .logo4{
        float:left;
        a{
            color:black;
            background:none;
            font-size:24px;
            position:relative;
            left:482px;
        }
        h5{
            background:#dd3842;
            color:white;
            border-radius:100%;
            width:14px;
            font-size:8px;
            text-align:center;
            padding:4px 0px;
            position:relative;
            top:-45px;
            left:514px;
        }
        h6{
            color:black;
            position:relative;
            top:15px;
            left:491px;
            font-size:13px;
            text-transform: capitalize;
        }
    }
    .logo5{
        float:left;
        a{
            color:black;
            background:none;
            font-size:24px;
            position:relative;
            left:482px;
        }
        h5{
            background:#dd3842;
            color:white;
            border-radius:100%;
            width:14px;
            font-size:8px;
            text-align:center;
            padding:4px 0px;
            position:relative;
            top:-45px;
            left:514px;
        }
        h6{
            color:black;
            position:relative;
            top:15px;
            left:499px;
            font-size:13px;
            text-transform: capitalize;
        }
    }
    .fclear{
        clear:both;
    }
}
.dropcontainer
{
    .demand{
        float:left;
        color:black;
        .luck{
            background:none;
            color:black;
            margin-left:53px;
            padding-right:10px;
            text-transform:capitalize;
            font-size:16px;
            font-weight:bold;
            border-radius:0px;
            border:0px;
            &:hover{
                background:none;
            }
    
        }
    }
    button{
        i{
            font-size:20px;
            margin-left:80px;
            color:black;
        }
    }
    .barone{
        margin-left:52px;
        border-radius:0px;
        width:319px;
        li{
            font-size:16px;
            color:black;
            text-transform:capitalize;
        }
    }
    .navbar-inverse .navbar-nav>li>a
    {
        color:#4d5961;
        background:none;
        &:hover{
            color:green;
            background:none;
        }
    }
    .navbar-right
    {
        margin-top:-8px;
        margin-right:487px;
        padding-right:16px;
        background:none;
        color:#4d5961;
        a{
            color:#4d5961;
            font-weight:bold;
            background:none;
            font-size:14px;
            &:hover &.active{
                color:red;
                background:none;
            }
        }
        .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
            background:none;
        }
    }
    .fclear{
        clear:both;
    }
}
.bannercontainer
{
    background:url('../images/shopping.png') no-repeat 0px 0px / 100%;  
    height:208px;
    margin-top:20px;
}
.bannercontainer1{
    padding:0px 20px;
    .shopcontainer{
        h1{
            font-size:16px;
            color:black;
        }
    }
    .grid{
        margin-top:13px;
        margin-left:160px;
        a{
            color:red;
            font-size:26px;
            margin-left:15px;
        }
        .menu{
            margin-left:97px;
            margin-top:-38px;
            background:none;
        }
        .risk{
            background:none;
            color:black;
            border:1px solid #ececec;
        }
        .rat{
            li{
                font-size:16px;
                color:black;
                text-transform:capitalize;
            }
        }
    }
    .drop2{
        margin-top:13px;
        .first{
            .second{
                border:1px solid #ececec;
                padding-right:100px;
                border-radius:0px;
            }
        }
    }
}
.border
{
    border-bottom:1px solid #ececec;
    width:1118px;
    margin-top:60px;
    margin-left:391px;
}
.filtercontainer
{
    border:1px solid #ececec;
    margin-top:25px;
    h1{
        color:black;
        font-size:20px;
        text-transform:capitalize;
        font-weight:bold;
        margin-bottom:25px;
    }
    form{
        input{
            margin-bottom:20px;
            margin-left:25px;
        }
        label{
            margin-bottom:20px;
            margin-left:6px;
        }
    }
}
.productcontainer
{
    margin-top:25px;
    h1{
        color:black;
        font-size:20px;
        text-transform:capitalize;
        font-weight:bold;
        margin-bottom:25px;
    }
    .fri{
        padding:3px 176px 3px 0px
    }
}
.colorcontainer
{
    margin-top:25px;
    h1{
        color:black;
        font-size:20px;
        text-transform:capitalize;
        font-weight:bold;
        margin-bottom:25px;
    } 
    a{
        display:inline-block;
        border-radius:100%;
        padding:5px 7px;
        width:27px;
        height:26px;
    }
}
.yellow
{
    margin-top:10px;
    a{
        display:inline-block;
        border-radius:100%;
        padding:5px 7px;
        width:27px;
        height:26px;
    } 
}
.listcontainer
{
    border:1px solid #ececec;
    margin-top:20px;
    .list1{
        margin-left:65px;
        margin-top:45px;
        float:left;
        span{
            position:relative;
            top:-135px;
            left:-272px;
            padding:5px 7px;
            background:#dd3333;
            color:white;
        }
    }
    .list2{
        float:left;
        h1{
            font-size:14px;
            color:black;
            text-transform:capitalize;
            margin-left:90px;
            margin-top:28px;
        }
        h2{
            font-size:18px;
            font-weight:bold;
            color:black;
            text-transform:capitalize;
            margin-left:91px;
            margin-top:14px;
        }
        .star{
            margin-left:92px;
            color:#d3ced2;
        }
        p{
            width:356px;
            margin-left:92px;
            text-transform:capitalize;
            margin-top:13px;

        }
    }
    .list3{
        float:left;
        h1{
            font-size:20px;
            color:black;
            text-transform:capitalize;
            margin-left:40px;
            margin-top:28px; 
            font-weight:bold;
        }
        strong{
            font-size:15px;
            color:black;
            font-weight:lighter;
            text-transform:capitalize;
            text-decoration: line-through;
            position:relative;
            top:-33px;
            left:28px;

        }
        a{
            font-size:14px;
            text-transform:capitalize;
            background:#2b38d1;
            border-radius:0px;
            color:white;
            font-weight:bold;
            padding:9px 6px;
            width:96px;
            position:relative;
            top:5px;
            left:43px;  
        }
        
    }
    .fclear{
        clear:both;
    }
}
.listcontainer10
{
    border:1px solid #ececec;
    margin-top:20px;
    .list10{
        margin-left:65px;
        margin-top:45px;
        float:left;
        span{
            position:relative;
            top:-122px;
            left:-321px;
            padding:5px 7px;
            background:#dd3333;
            color:white;
        }
    }
    .list20{
        float:left;
        h1{
            font-size:14px;
            color:black;
            text-transform:capitalize;
            margin-left:90px;
            margin-top:28px;
        }
        h2{
            font-size:18px;
            font-weight:bold;
            color:black;
            text-transform:capitalize;
            margin-left:91px;
            margin-top:14px;
        }
        .star{
            margin-left:92px;
            color:#d3ced2;
        }
        p{
            width:356px;
            margin-left:92px;
            text-transform:capitalize;
            margin-top:13px;

        }
    }
    .list30{
        float:left;
        h1{
            font-size:20px;
            color:black;
            text-transform:capitalize;
            margin-left:40px;
            margin-top:28px; 
            font-weight:bold;
        }
        strong{
            font-size:15px;
            color:black;
            font-weight:lighter;
            text-transform:capitalize;
            text-decoration: line-through;
            position:relative;
            top:-33px;
            left:28px;

        }
        a{
            font-size:14px;
            text-transform:capitalize;
            background:#2b38d1;
            border-radius:0px;
            color:white;
            font-weight:bold;
            padding:9px 6px;
            width:96px;
            position:relative;
            top:5px;
            left:43px;  
        }
        
    }
    .fclear{
        clear:both;
    }
}
.listcontainer20
{
    border:1px solid #ececec;
    margin-top:20px;
    .list11{
        margin-left:65px;
        margin-top:45px;
        float:left;
        span{
            position:relative;
            top:-122px;
            left:-277px;
            padding:5px 7px;
            background:#dd3333;
            color:white;
        }
    }
    .list12{
        float:left;
        h1{
            font-size:14px;
            color:black;
            text-transform:capitalize;
            margin-left:16px;
            margin-top:28px;
        }
        h2{
            font-size:18px;
            font-weight:bold;
            color:black;
            text-transform:capitalize;
            margin-left:15px;
            margin-top:14px;
        }
        .star{
            margin-left:15px;
            color:#d3ced2;
        }
        p{
            width:356px;
            margin-left:18px;
            text-transform:capitalize;
            margin-top:13px;

        }
    }
    .list13{
        float:left;
        h1{
            font-size:20px;
            color:black;
            text-transform:capitalize;
            margin-left:40px;
            margin-top:28px; 
            font-weight:bold;
        }
        strong{
            font-size:15px;
            color:black;
            font-weight:lighter;
            text-transform:capitalize;
            text-decoration: line-through;
            position:relative;
            top:-33px;
            left:28px;

        }
        a{
            font-size:14px;
            text-transform:capitalize;
            background:#2b38d1;
            border-radius:0px;
            color:white;
            font-weight:bold;
            padding:9px 6px;
            width:96px;
            position:relative;
            top:5px;
            left:43px;  
        }
        
    }
    .fclear{
        clear:both;
    }
}
.listcontainer120
{
    border:1px solid #ececec;
    margin-top:20px;
    .list120{
        margin-left:65px;
        margin-top:45px;
        float:left;
        span{
            position:relative;
            top:-111px;
            left:-328px;
            padding:5px 7px;
            background:#dd3333;
            color:white;
        }
    }
    .list121{
        float:left;
        h1{
            font-size:14px;
            color:black;
            text-transform:capitalize;
            margin-left:-55px;
            margin-top:28px;
        }
        h2{
            font-size:18px;
            font-weight:bold;
            color:black;
            text-transform:capitalize;
            margin-left:-54px;
            margin-top:14px;
        }
        .star{
            margin-left:-55px;
            color:#d3ced2;
        }
        p{
            width:356px;
            margin-left:-53px;
            text-transform:capitalize;
            margin-top:13px;
            padding-bottom:120px;

        }
    }
    .list123{
        float:left;
        h1{
            font-size:20px;
            color:black;
            text-transform:capitalize;
            margin-left:40px;
            margin-top:28px; 
            font-weight:bold;
        }
        strong{
            font-size:15px;
            color:black;
            font-weight:lighter;
            text-transform:capitalize;
            text-decoration: line-through;
            position:relative;
            top:-33px;
            left:28px;

        }
        a{
            font-size:14px;
            text-transform:capitalize;
            background:#2b38d1;
            border-radius:0px;
            color:white;
            font-weight:bold;
            padding:9px 6px;
            width:96px;
            position:relative;
            top:5px;
            left:43px;  
        }
        
    }
    .fclear{
        clear:both;
    }
}
.listcontainer130
{
    border:1px solid #ececec;
    margin-top:20px;
    img{
        width:75%;
    }
    .list130{
        margin-left:42px;
        margin-top:45px;
        float:left;
        span{
            position:relative;
            top:-111px;
            left:-347px;
            padding:5px 7px;
            background:#dd3333;
            color:white;
        }
    }
    .list131{
        float:left;
        h1{
            font-size:14px;
            color:black;
            text-transform:capitalize;
            margin-left:-93px;
            margin-top:28px;
        }
        h2{
            font-size:18px;
            font-weight:bold;
            color:black;
            text-transform:capitalize;
            margin-left:-91px;
            margin-top:14px;
        }
        .star{
            margin-left:-88px;
            color:#d3ced2;
        }
        p{
            width:356px;
            margin-left:-86px;
            text-transform:capitalize;
            margin-top:13px;
            padding-bottom:120px;

        }
    }
    .list133{
        float:left;
        h1{
            font-size:20px;
            color:black;
            text-transform:capitalize;
            margin-left:40px;
            margin-top:28px; 
            font-weight:bold;
        }
        strong{
            font-size:15px;
            color:black;
            font-weight:lighter;
            text-transform:capitalize;
            text-decoration: line-through;
            position:relative;
            top:-33px;
            left:28px;

        }
        a{
            font-size:14px;
            text-transform:capitalize;
            background:#2b38d1;
            border-radius:0px;
            color:white;
            font-weight:bold;
            padding:9px 6px;
            width:96px;
            position:relative;
            top:5px;
            left:43px;  
        }
        
    }
    .fclear{
        clear:both;
    }
}
.listcontainer140
{
    border:1px solid #ececec;
    margin-top:20px;
    img{
        width:100%;
    }
    .list140{
        margin-left:42px;
        margin-top:45px;
        float:left;
        span{
            position:relative;
            top:-111px;
            left:-347px;
            padding:5px 7px;
            background:#dd3333;
            color:white;
        }
    }
    .list141{
        float:left;
        h1{
            font-size:14px;
            color:black;
            text-transform:capitalize;
            margin-left:-9px;
            margin-top:28px;
        }
        h2{
            font-size:18px;
            font-weight:bold;
            color:black;
            text-transform:capitalize;
            margin-left:-9px;
            margin-top:14px;
        }
        .star{
            margin-left:-10px;
            color:#d3ced2;
        }
        p{
            width:356px;
            margin-left:-8px;
            text-transform:capitalize;
            margin-top:13px;
            padding-bottom:120px

        }
    }
    .list143{
        float:left;
        h1{
            font-size:20px;
            color:black;
            text-transform:capitalize;
            margin-left:40px;
            margin-top:28px; 
            font-weight:bold;
        }
        strong{
            font-size:15px;
            color:black;
            font-weight:lighter;
            text-transform:capitalize;
            text-decoration: line-through;
            position:relative;
            top:-33px;
            left:28px;

        }
        a{
            font-size:14px;
            text-transform:capitalize;
            background:#2b38d1;
            border-radius:0px;
            color:white;
            font-weight:bold;
            padding:9px 6px;
            width:96px;
            position:relative;
            top:5px;
            left:43px;  
        }
        
    }
    .fclear{
        clear:both;
    }
}
.listcontainer150
{
    border:1px solid #ececec;
    margin-top:20px;
    img{
        width:110%;
    }
    .list150{
        margin-left:39px;
        margin-top:30px;
        float:left;
        span{
            position:relative;
            top:-299px;
            left:-40px;
            padding:5px 7px;
            background:#dd3333;
            color:white;
        }
    }
    .list151{
        float:left;
        h1{
            font-size:14px;
            color:black;
            text-transform:capitalize;
            margin-left:32px;
            margin-top:28px;
        }
        h2{
            font-size:18px;
            font-weight:bold;
            color:black;
            text-transform:capitalize;
            margin-left:32px;
            margin-top:14px;
        }
        .star{
            margin-left:33px;
            color:#d3ced2;
        }
        p{
            width:356px;
            margin-left:35px;
            text-transform:capitalize;
            margin-top:13px;

        }
    }
    .list153{
        float:left;
        h1{
            font-size:20px;
            color:black;
            text-transform:capitalize;
            margin-left:40px;
            margin-top:28px; 
            font-weight:bold;
        }
        strong{
            font-size:15px;
            color:black;
            font-weight:lighter;
            text-transform:capitalize;
            text-decoration: line-through;
            position:relative;
            top:-33px;
            left:28px;

        }
        a{
            font-size:14px;
            text-transform:capitalize;
            background:#2b38d1;
            border-radius:0px;
            color:white;
            font-weight:bold;
            padding:9px 6px;
            width:96px;
            position:relative;
            top:5px;
            left:43px;  
        }
        
    }
    .fclear{
        clear:both;
    }
}
.listcontainer160
{
    border:1px solid #ececec;
    margin-top:20px;
    img{
        width:90%;
    }
    .list160{
        margin-left:39px;
        margin-top:30px;
        float:left;
        span{
            position:relative;
            top:-299px;
            left:-40px;
            padding:5px 7px;
            background:#dd3333;
            color:white;
        }
    }
    .list161{
        float:left;
        h1{
            font-size:14px;
            color:black;
            text-transform:capitalize;
            margin-left:35px;
            margin-top:28px;
        }
        h2{
            font-size:18px;
            font-weight:bold;
            color:black;
            text-transform:capitalize;
            margin-left:35px;
            margin-top:14px;
        }
        .star{
            margin-left:35px;
            color:#d3ced2;
        }
        p{
            width:356px;
            margin-left:32px;
            text-transform:capitalize;
            margin-top:13px;
            padding-bottom:100px;

        }
    }
    .list163{
        float:left;
        h1{
            font-size:20px;
            color:black;
            text-transform:capitalize;
            margin-left:40px;
            margin-top:28px; 
            font-weight:bold;
        }
        strong{
            font-size:15px;
            color:black;
            font-weight:lighter;
            text-transform:capitalize;
            text-decoration: line-through;
            position:relative;
            top:-33px;
            left:28px;

        }
        a{
            font-size:14px;
            text-transform:capitalize;
            background:#2b38d1;
            border-radius:0px;
            color:white;
            font-weight:bold;
            padding:9px 6px;
            width:96px;
            position:relative;
            top:5px;
            left:43px;  
        }
        
    }
    .fclear{
        clear:both;
    }
}
.listcontainer170
{
    border:1px solid #ececec;
    margin-top:20px;
    img{
        width:100%;
    }
    .list170{
        margin-left:61px;
        margin-top:30px;
        float:left;
        span{
            position:relative;
            top:-299px;
            left:-40px;
            padding:5px 7px;
            background:#dd3333;
            color:white;
        }
    }
    .list171{
        float:left;
        h1{
            font-size:14px;
            color:black;
            text-transform:capitalize;
            margin-left:64px;
            margin-top:28px;
        }
        h2{
            font-size:18px;
            font-weight:bold;
            color:black;
            text-transform:capitalize;
            margin-left:61px;
            margin-top:14px;
        }
        .star{
            margin-left:60px;
            color:#d3ced2;
        }
        p{
            width:356px;
            margin-left:61px;
            text-transform:capitalize;
            margin-top:13px;
            padding-bottom:100px;

        }
    }
    .list173{
        float:left;
        h1{
            font-size:20px;
            color:black;
            text-transform:capitalize;
            margin-left:40px;
            margin-top:28px; 
            font-weight:bold;
        }
        strong{
            font-size:15px;
            color:black;
            font-weight:lighter;
            text-transform:capitalize;
            text-decoration: line-through;
            position:relative;
            top:-33px;
            left:28px;

        }
        a{
            font-size:14px;
            text-transform:capitalize;
            background:#2b38d1;
            border-radius:0px;
            color:white;
            font-weight:bold;
            padding:9px 6px;
            width:96px;
            position:relative;
            top:5px;
            left:43px;  
        }
        
    }
    .fclear{
        clear:both;
    }
}
.listcontainer180
{
    border:1px solid #ececec;
    margin-top:20px;
    .list180{
        margin-left:65px;
        margin-top:45px;
        float:left;
        span{
            position:relative;
            top:-135px;
            left:-272px;
            padding:5px 7px;
            background:#dd3333;
            color:white;
        }
    }
    .list181{
        float:left;
        h1{
            font-size:14px;
            color:black;
            text-transform:capitalize;
            margin-left:65px;
            margin-top:28px;
        }
        h2{
            font-size:18px;
            font-weight:bold;
            color:black;
            text-transform:capitalize;
            margin-left:65px;
            margin-top:14px;
        }
        .star{
            margin-left:64px;
            color:#ff9f00;
        }
        p{
            width:356px;
            margin-left:64px;
            text-transform:capitalize;
            margin-top:13px;

        }
    }
    .list183{
        float:left;
        h1{
            font-size:20px;
            color:black;
            text-transform:capitalize;
            margin-left:40px;
            margin-top:28px; 
            font-weight:bold;
        }
        strong{
            font-size:15px;
            color:black;
            font-weight:lighter;
            text-transform:capitalize;
            text-decoration: line-through;
            position:relative;
            top:-33px;
            left:28px;

        }
        a{
            font-size:14px;
            text-transform:capitalize;
            background:#2b38d1;
            border-radius:0px;
            color:white;
            font-weight:bold;
            padding:9px 6px;
            width:96px;
            position:relative;
            top:5px;
            left:43px;  
        }
        
    }
    .fclear{
        clear:both;
    }
}
.listcontainer190
{
    border:1px solid #ececec;
    margin-top:20px;
    img{
        width:60%;
    }
    .list190{
        margin-left:65px;
        margin-top:45px;
        float:left;
        span{
            position:relative;
            top:-135px;
            left:-272px;
            padding:5px 7px;
            background:#dd3333;
            color:white;
        }
    }
    .list191{
        float:left;
        h1{
            font-size:14px;
            color:black;
            text-transform:capitalize;
            margin-left:-111px;
            margin-top:28px;
        }
        h2{
            font-size:18px;
            font-weight:bold;
            color:black;
            text-transform:capitalize;
            margin-left:-108px;
            margin-top:14px;
        }
        .star{
            margin-left:-108px;
            color:#d3ced2;;
        }
        p{
            width:356px;
            margin-left:-106px;
            text-transform:capitalize;
            margin-top:13px;

        }
    }
    .list193{
        float:left;
        h1{
            font-size:20px;
            color:black;
            text-transform:capitalize;
            margin-left:40px;
            margin-top:28px; 
            font-weight:bold;
        }
        strong{
            font-size:15px;
            color:black;
            font-weight:lighter;
            text-transform:capitalize;
            text-decoration: line-through;
            position:relative;
            top:-33px;
            left:28px;

        }
        a{
            font-size:14px;
            text-transform:capitalize;
            background:#2b38d1;
            border-radius:0px;
            color:white;
            font-weight:bold;
            padding:9px 6px;
            width:96px;
            position:relative;
            top:5px;
            left:43px;  
        }
        .colorcontainer1
        {
            margin-top:16px;
            h1{
                color:black;
                font-size:20px;
                text-transform:capitalize;
                font-weight:bold;
                margin-bottom:25px;
            } 
            a{
                display:inline-block;
                border-radius:100%;
                padding:0px 7px;
                width:17px;
                height:18px;
            }
        }
        
    }
    .fclear{
        clear:both;
    }
}
.listcontainer200
{
    border:1px solid #ececec;
    margin-top:20px;
    img{
        width:100%;
    }
    .list200{
        margin-left:61px;
        margin-top:30px;
        float:left;
        span{
            position:relative;
            top:-299px;
            left:-62px;
            padding:5px 7px;
            background:#dd3333;
            color:white;
        }
    }
    .list201{
        float:left;
        h1{
            font-size:14px;
            color:black;
            text-transform:capitalize;
            margin-left:15px;
            margin-top:28px;
        }
        h2{
            font-size:18px;
            font-weight:bold;
            color:black;
            text-transform:capitalize;
            margin-left:15px;
            margin-top:14px;
        }
        .star{
            margin-left:14px;
            color:#d3ced2;
        }
        .point{
            width:356px;
            margin-left:-6px;
            text-transform:capitalize;
            font-size:16px;
            text-transform:capitalize;
            margin-top:13px;
            padding-bottom:100px;

        }
    }
    .list203{
        float:left;
        h1{
            font-size:20px;
            color:black;
            text-transform:capitalize;
            margin-left:40px;
            margin-top:28px; 
            font-weight:bold;
        }
        strong{
            font-size:15px;
            color:black;
            font-weight:lighter;
            text-transform:capitalize;
            text-decoration: line-through;
            position:relative;
            top:-33px;
            left:28px;

        }
        a{
            font-size:14px;
            text-transform:capitalize;
            background:#2b38d1;
            border-radius:0px;
            color:white;
            font-weight:bold;
            padding:9px 6px;
            width:96px;
            position:relative;
            top:5px;
            left:43px;  
        }
        
    }
    .fclear{
        clear:both;
    }
}
.listcontainer205
{
    border:1px solid #ececec;
    margin-top:20px;
    .list205{
        margin-left:65px;
        margin-top:45px;
        float:left;
        span{
            position:relative;
            top:-122px;
            left:-277px;
            padding:5px 7px;
            background:#dd3333;
            color:white;
        }
    }
    .list206{
        float:left;
        h1{
            font-size:14px;
            color:black;
            text-transform:capitalize;
            margin-left:106px;
            margin-top:28px;
        }
        h2{
            font-size:18px;
            font-weight:bold;
            color:black;
            text-transform:capitalize;
            margin-left:105px;
            margin-top:14px;
        }
        .star{
            margin-left:106px;
            color:#d3ced2;
        }
        p{
            width:356px;
            margin-left:105px;
            text-transform:capitalize;
            margin-top:13px;

        }
    }
    .list207{
        float:left;
        h1{
            font-size:20px;
            color:black;
            text-transform:capitalize;
            margin-left:40px;
            margin-top:28px; 
            font-weight:bold;
        }
        strong{
            font-size:15px;
            color:black;
            font-weight:lighter;
            text-transform:capitalize;
            text-decoration: line-through;
            position:relative;
            top:-33px;
            left:28px;

        }
        a{
            font-size:14px;
            text-transform:capitalize;
            background:#2b38d1;
            border-radius:0px;
            color:white;
            font-weight:bold;
            padding:9px 6px;
            width:96px;
            position:relative;
            top:5px;
            left:43px;  
        }
        
    }
    .fclear{
        clear:both;
    }
}
.listcontainer290
{
    border:1px solid #ececec;
    margin-top:20px;
    img{
        width:60%;
    }
    .list290{
        margin-left:65px;
        margin-top:45px;
        float:left;
        span{
            position:relative;
            top:-135px;
            left:-272px;
            padding:5px 7px;
            background:#dd3333;
            color:white;
        }
    }
    .list291{
        float:left;
        h1{
            font-size:14px;
            color:black;
            text-transform:capitalize;
            margin-left:-61px;
            margin-top:28px;
        }
        h2{
            font-size:18px;
            font-weight:bold;
            color:black;
            text-transform:capitalize;
            margin-left:-60px;
            margin-top:14px;
        }
        .star{
            margin-left:-61px;
            color:#d3ced2;;
        }
        p{
            width:356px;
            margin-left:-60px;
            text-transform:capitalize;
            margin-top:13px;

        }
    }
    .list293{
        float:left;
        h1{
            font-size:20px;
            color:black;
            text-transform:capitalize;
            margin-left:40px;
            margin-top:28px; 
            font-weight:bold;
        }
        strong{
            font-size:15px;
            color:black;
            font-weight:lighter;
            text-transform:capitalize;
            text-decoration: line-through;
            position:relative;
            top:-33px;
            left:28px;

        }
        a{
            font-size:14px;
            text-transform:capitalize;
            background:#2b38d1;
            border-radius:0px;
            color:white;
            font-weight:bold;
            padding:9px 6px;
            width:96px;
            position:relative;
            top:5px;
            left:43px;  
        }
        .colorcontainer1
        {
            margin-top:16px;
            h1{
                color:black;
                font-size:20px;
                text-transform:capitalize;
                font-weight:bold;
                margin-bottom:25px;
            } 
            a{
                display:inline-block;
                border-radius:100%;
                padding:0px 7px;
                width:17px;
                height:18px;
            }
        }
        
    }
    .fclear{
        clear:both;
    }
}
.nxtcontainer{
    text-align:center;
    margin-top:30px;
    a{
        display:inline-block;
        padding:5px 9px;
        text-transform:capitalize;
        text-decoration:none;
        font-weight:bold;
        background:#dd3842;
        color:white;
    }
}
.footercontainer
{
    background:url('../images/newsbg.webp') no-repeat 0px -75px / 100%;
    margin-top:60px;
    padding:0px 25px;
    height:199px;
    .subscribecontainer{
        margin-top:50px;
        h1{
            color:white;
            font-weight:bold;
            text-transform:capitalize;
            font-size:20px;
        }
        h2{
            color:white;
            text-transform:capitalize;
            font-size:16px;
        }
    }
    .custom-email{
        border-radius:0px;
        padding:25px 27px;
        margin-left:-115px;
        margin-top:50px;
        width:554px;
    }
    .email{
        h2{
            font-size:16px;
            text-transform:capitalize;
            background:#2b38d1;
            border-radius:0px;
            color:white;
            font-weight:bold;
            padding:17px 16px;
            width:96px;
            position:relative;
            top:-73px;
            left:455px;  
        }
    }
}
.bottomcontainer
{
    background:url('../images/footer-bg.webp') no-repeat 0px 0px / 100%;
    padding:0px 25px;
    height:447px;
    .bottom1{
        float:left;
        margin-top:60px;
        margin-bottom:10px;
        h1{
            color:white;
            font-size:40px;
            font-weight:bold;
            text-transform:capitalize;

        }
        p{
            color:white;
            font-size:15px;
            width:300px;
            text-transform:capitalize;

        }
        a{
            color:white;
            font-size:15px;
            text-decoration:none;
            margin-bottom:18px;
            display:block;
            text-transform:capitalize;
            &:hover{
                color:blue;
            }

        }
    }
    .bottom2{
        float:left;
        margin-top:60px;
        margin-bottom:10px;
        margin-left:75px;
        h1{
            color:white;
            font-size:22px;
            font-weight:bold;
            text-transform:capitalize;
            margin-bottom:23px;

        }
        a{
            color:white;
            font-size:16px;
            text-decoration:none;
            margin-bottom:15px;
            display:block;
            text-transform:capitalize;
            &:hover{
                color:blue;
            }

        }
    }
    .bottom3{
        float:left;
        margin-top:60px;
        margin-bottom:10px;
        margin-left:95px;
        h1{
            color:white;
            font-size:22px;
            font-weight:bold;
            text-transform:capitalize;
            margin-bottom:23px;

        }
        p{
            color:white;
            font-size:15px;
            width:300px;
            text-transform:capitalize;
        }
        a{
            padding-right:15px;
        }
        .enable{
            margin-top:50px;
            h1{
                color:white;
                font-size:22px;
                font-weight:bold;
                text-transform:capitalize;
                margin-bottom:23px; 
            }
            a{
                font-size:18px;
                color:white;
                padding:5px 10px;
                background:#385693;
                display:inline-block;
            }
        }
    }
}
.underlinecontainer
{
    border:1px solid #252525;
    padding:0px 20px;
    background:#161616;
    height:155px;
    .last{
        text-align: center;
        margin-top:35px;
        a{
            img{
                width:4%;
            }
        }
        h2{
            color:white;
            text-transform:capitalize;
            font-size:16px;
        }
        .scroll-top {
            font-size:24px;
            color:white;
            border-radius: 0px;
            background:green;
            padding:7px 16px;
            position: fixed;
            bottom: -4px;
            right: 112px;
          }
          .scroll-top i {
            display: inline-block;
            color: white;
        }
    }
}
@media(min-width:320px) and (max-width:480px){
    .headercontainer{
        background: url(../images/responsive\ top.jpg) no-repeat 0px 0px/100%;
        height:100px;
        h1{
            font-size:12px;
        }
        h2{
            padding-left:0px;
            font-size:12px;
            margin-top:-13px;
        }
    }
    .border{
        display:none;
    }
    .logocontainer{
        .logo1{
            img{
                margin-left:-13px;
                margin-top:-44px;
            }
        }
        .logo2{
            .custom-email20{
                width:100%;
            }
        }
        .logo3{
            a{
                left:0px;
                top:10px;
            }
            h6{
                left:0px;
                top:3px;
            }
        }
        .logo4{
            a{
                left:0px;
                top:10px;
            }
            h6{
                left:13px;
                top:3px;
            }
            h5{
                left:34px;
                top:-61px;
            }
        }
        .logo5{
            a{
                left:0px;
                top:10px;
            }
            h6{
                left:18px;
                top:3px;
            }
            h5{
                left:34px;
                top:-61px;
            }
        }
        .menu{
            left:27px;
            top:-6px;
        }
        a{
            top:-45px;
            left:-24px;
        }
    }
    .dropcontainer{
        .navbar-right{
            width:100%;
            margin-right:0px;
            display:none;
        }
        .navbar-inverse{
            .navbar-toggle{
                background:red;
            }
        }
        .demand{
            margin-left:-68px;
        }
    }
    .bannercontainer1{
        .shopcontainer{
            h1{
                margin-top:-144px;
            }
        }
        .grid{
            margin-left:0px;
        }
    }
    .filtercontainer{
        margin-top:-47px;
    }
    .listcontainer{
        width:100%;
        .list2{
            h1{
                margin-left:5px;
            }
            h2{
                margin-left:5px;
            }
            .star{
                margin-left:5px;
            }
            p{
                width:85%;
                margin-left:5px;
            }
        }
        .list3{
            h1{
                margin-left:5px;
                margin-top:-6px;
            }
            a{
                left:105px;
                top:-28px;
            }
        }
    }
    .listcontainer20{
        width:100%;
        .list11{
            span{
                display:none;
            }
        }
        .list12{
            h1{
                margin-left:5px;
            }
            h2{
                margin-left:5px;
            }
            .star{
                margin-left:5px;
            }
            p{
                width:85%;
                margin-left:5px;
            }
        }
        .list13{
            h1{
                margin-left:5px;
                margin-top:-6px;
            }
            a{
                left:105px;
                top:-28px;
            }
            strong{
                left:-83px;
                top:0px;
            }
        }
    }
    .listcontainer120{
        width:100%;
        .list120{
            span{
                display:none;
            }
        }
        .list121{
            h1{
                margin-left:5px;
            }
            h2{
                margin-left:5px;
            }
            .star{
                margin-left:5px;
            }
            p{
                width:85%;
                margin-left:5px;
            }
        }
        .list123{
            h1{
                margin-left:5px;
                margin-top:-93px;
            }
            a{
                left:105px;
                top:-28px;
            }
            strong{
                left:-83px;
                top:0px;
            }
        }
    }
    .listcontainer130{
        width:100%;
        .list130{
            span{
                display:none;
            }
        }
        .list131{
            h1{
                margin-left:5px;
            }
            h2{
                margin-left:5px;
            }
            .star{
                margin-left:5px;
            }
            p{
                width:85%;
                margin-left:5px;
            }
        }
        .list133{
            h1{
                margin-left:5px;
                margin-top:-89px;
            }
            a{
                left:105px;
                top:-28px;
            }
            strong{
                left:-83px;
                top:0px;
            }
        }
    }
    .listcontainer140{
        width:100%;
        .list140{
            span{
                display:none;
            }
        }
        .list141{
            h1{
                margin-left:5px;
            }
            h2{
                margin-left:5px;
            }
            .star{
                margin-left:5px;
            }
            p{
                width:85%;
                margin-left:5px;
            }
        }
        .list143{
            h1{
                margin-left:5px;
                margin-top:-75px;
            }
            a{
                left:105px;
                top:-28px;
            }
            strong{
                left:-83px;
                top:0px;
            }
        }
    }
    .listcontainer150{
        width:100%;
        .list150{
            span{
                
            }
        }
        .list151{
            h1{
                margin-left:5px;
            }
            h2{
                margin-left:5px;
            }
            .star{
                margin-left:5px;
            }
            p{
                width:85%;
                margin-left:5px;
            }
        }
        .list153{
            h1{
                margin-left:5px;
                margin-top:-6px;
            }
            a{
                left:105px;
                top:-28px;
            }
            strong{
                left:-83px;
                top:0px;
            }
        }
    }
    .listcontainer160{
        width:100%;
        .list160{
            span{
                display:none;
            }
        }
        .list161{
            h1{
                margin-left:5px;
            }
            h2{
                margin-left:5px;
            }
            .star{
                margin-left:5px;
            }
            p{
                width:85%;
                margin-left:5px;
            }
        }
        .list163{
            h1{
                margin-left:5px;
                margin-top:-89px;
            }
            a{
                left:105px;
                top:-28px;
            }
            strong{
                left:-83px;
                top:0px;
            }
        }
    }
    .listcontainer170{
        width:100%;
        .list170{
            span{
                display:none;
            }
        }
        .list171{
            h1{
                margin-left:5px;
            }
            h2{
                margin-left:5px;
            }
            .star{
                margin-left:5px;
            }
            p{
                width:85%;
                margin-left:5px;
            }
        }
        .list173{
            h1{
                margin-left:5px;
                margin-top:-85px;
            }
            a{
                left:105px;
                top:-28px;
            }
            strong{
                left:-83px;
                top:0px;
            }
        }
    }
    .listcontainer180{
        width:100%;
        .list180{
            span{
                display:none;
            }
        }
        .list181{
            h1{
                margin-left:5px;
            }
            h2{
                margin-left:5px;
            }
            .star{
                margin-left:5px;
            }
            p{
                width:85%;
                margin-left:5px;
            }
        }
        .list183{
            h1{
                margin-left:5px;
                margin-top:-6px;
            }
            a{
                left:105px;
                top:-28px;
            }
            strong{
                left:-83px;
                top:0px;
            }
        }
    }
    .listcontainer190{
        width:100%;
        .list190{
            span{
                display:none;
            }
        }
        .list191{
            h1{
                margin-left:5px;
            }
            h2{
                margin-left:5px;
            }
            .star{
                margin-left:5px;
            }
            p{
                width:85%;
                margin-left:5px;
            }
        }
        .list193{
            h1{
                margin-left:5px;
                margin-top:-6px;
            }
            a{
                left:105px;
                top:-28px;
            }
            strong{
                left:-83px;
                top:0px;
            }
        }
    }
    .listcontainer200{
        width:100%;
        .list200{
            span{
                top:-243px;
            }
        }
        .list201{
            h1{
                margin-left:5px;
            }
            h2{
                margin-left:5px;
            }
            .star{
                margin-left:5px;
            }
            p{
                width:85%;
                margin-left:5px;
            }
        }
        .list203{
            h1{
                margin-left:5px;
                margin-top:-80px;
            }
            a{
                left:105px;
                top:-28px;
            }
            strong{
                left:-83px;
                top:0px;
            }
        }
    }
    .listcontainer205{
        width:100%;
        .list205{
            span{
                
            }
        }
        .list206{
            h1{
                margin-left:5px;
            }
            h2{
                margin-left:5px;
            }
            .star{
                margin-left:5px;
            }
            p{
                width:85%;
                margin-left:5px;
            }
        }
        .list207{
            h1{
                margin-left:5px;
                margin-top:-5px;
            }
            a{
                left:105px;
                top:-28px;
            }
            strong{
                left:-83px;
                top:0px;
            }
        }
    }
    .listcontainer290{
        width:100%;
        .list290{
            span{
                display:none;
            }
        }
        .list291{
            h1{
                margin-left:5px;
            }
            h2{
                margin-left:5px;
            }
            .star{
                margin-left:5px;
            }
            p{
                width:85%;
                margin-left:5px;
            }
        }
        .list293{
            h1{
                margin-left:5px;
                margin-top:-6px;
            }
            a{
                left:105px;
                top:-28px;
            }
            strong{
                left:-83px;
                top:0px;
            }
        }
    }
    .footercontainer{
        background:url(../images/newsbg.webp) no-repeat 0px 1px/100%;
        margin-top:0px;
        .subscribecontainer{
            h1{
                color:black;
                margin-top:89px;
            }
            h2{
                color:black;
                margin-top:4px;
            }
        }
        .custom-email{
            width:100%;
            margin-left:-14px;
            margin-top:-6px;

        }
        .email{
            h2{
                left:0px;
                top:-21px;
            }
        }
    }
    .bottomcontainer{
        margin-top:113px;
        .bottom1{
            margin-top:12px;
            p{
                color:black;
                margin-top:30px;
                width:100%;
            }
            a{
                margin-left:0px;
                color:black;
            }
        }
        .bottom2{
            margin-left:0px;
            color:black;
            h1{
                color:black;
                margin-top:-81px;
            }
            a{
                color:black;
            }
        }
        .bottom3{
            margin-top:-27px;
            margin-left:-10px;
            color:black;
            h1{
                color:black;
            }
            p{
                color:black;
            }
            .enable{
                margin-top:26px;
                h1{
                    color:black;
                }
            }
        }
    }
    .underlinecontainer{
        margin-top:980px;
        .last{
            .scroll-top{
                display:none;
            }
        }
    }
}