@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Bold.eot');
    src: url('../fonts/IBMPlexSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IBMPlexSans-Bold.woff2') format('woff2'),
        url('../fonts/IBMPlexSans-Bold.woff') format('woff'),
        url('../fonts/IBMPlexSans-Bold.ttf') format('truetype'),
        url('../fonts/IBMPlexSans-Bold.svg#IBMPlexSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Regular.eot');
    src: url('../fonts/IBMPlexSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IBMPlexSans-Regular.woff2') format('woff2'),
        url('../fonts/IBMPlexSans-Regular.woff') format('woff'),
        url('../fonts/IBMPlexSans-Regular.ttf') format('truetype'),
        url('../fonts/IBMPlexSans-Regular.svg#IBMPlexSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
$white:white;
$black:black;
$red:red;
$orange:#ff4810;
$gray:gray;
$blue:#7d7d7d;
$indigo:#f8fafd;
body{
    font-family: 'IBM Plex Sans';
}
.headercontainer
{
    margin:0px -15px;
    .custom-navbar
    {
        background:$white;
        color:$black;
        border-radius:0px;
        min-height:80px;
        margin-bottom:0px;
        border:none;
        padding-bottom:17px;
    }
        .container{
            width:1360px;
        }
        .navbar-brand
        {
            padding:30px 15px;
            text-transform:capitalize;
            font-weight:bold;
            font-size:20px;
        }
        .navbar-right
        {
            margin-top:15px;
        }
        .navbar-nav>.active>a
        {
            background:none;
            color:$black;
            text-transform:capitalize;
            &:hover{
                background:$white;
                color:$red;
            }
        }
        .navbar-nav>li>a
        {
            color:$black;
            font-weight:bold;
            padding-right:28px;
            text-transform:capitalize;
            margin-top:8px;
            font-size:16px;
            i{
                color:$orange;
                font-size:20px;
            }

            &:hover{
                background:$white;
                color:$red;
            }
        }
        .navbar-nav>.active>a
        {
            color:$black;
            font-weight:bold;
        }
}
.custom-carousel
{
    margin:0px -15px;
    .item{
        background:url('../images/slider-bg-new1.jpg') no-repeat 0px 0px / 100%;
        padding-bottom:700px;
    }
    .item1{
        padding-bottom:700px;
        background:url('../images/slider-bg-new1.jpg') no-repeat 0px 0px / 100%;

    }
    .item2{
        padding-bottom:700px;
        background:url('../images/slider-bg-new1.jpg') no-repeat 0px 0px / 100%;
    }
    .carousel-caption
    {
        top:40px;
        img{
            margin-left:465px;
            margin-top:-435px;
        }
        h2{
            border-top:3px solid $orange;
            width:319px;
            margin-top:-472px;
            margin-left:-196px;
        }
        h3{
            font-size:18px;
            font-weight:bold;
            text-align:left;
            margin-left:-197px;
            color:$black;
            margin-top:10px;
            text-transform:uppercase;
        }
        h4{
            font-size:50px;
            font-weight:bold;
            color:$black;
            text-align:left;
            margin-left:-202px;
            margin-top:44px;
            text-transform:uppercase;
        }
        h5{
            margin-left:-195px;
            text-align:justify;
            margin-top:15px;
            font-size:50px;
            color:$black;
            line-height:46px;
            text-transform:uppercase;
            font-weight:bold;
        }
        p{
            color:$black;
            font-size:14px;
            line-height:24px;
            width:391px;
            margin-left:-183px;
            margin-top:29px;
            text-align:justify;
            text-transform:capitalize;

        }
        a{
            font-size:50px;
            position:relative;
            color:$orange;
            left:-609px;
            top:32px;
            border-radius:100%;
            background:$white;
            padding:5px 16px;
            &:hover{
                background:$gray;
            }
        }
        h6{
            padding-right:810px;
            color:$black;
            font-size:18px;
            margin-left:-134px;
            margin-top:-26px;
        }
        .rec{
            img{
                margin-top:21px;
                margin-right:-615px
            }
        }
        .rec1{
            img{
                margin-top:-4px;
                margin-left:-1491px;
            }
        }
        .rec2{
            img{
                margin-top:241px;
                margin-left:-732px;
            }
        }
    }
    .glyphicon-chevron-right::before,.glyphicon-chevron-left::before
    {
        display:none;
    }
    .carousel-control.right,.carousel-control.left
    {
        background:none;
    }
}
.bodycontainer
{
    .new1{
        padding:50px 40px 32px 40px;
        margin-top:-76px;
        background:$white;
        &:hover{
            transform: scale(1.2);
            background:#697cff;
        }
        img{
            margin-left:40px;
            
        }
        h2{
            color:$black;
            font-weight:bold;
            font-size:19px;
            text-transform: capitalize;
            text-align:center;
        }
        p{
            font-size:15px;
            margin-left:-20px;
            text-align:center;
            text-transform:capitalize;
        }
    }
    .new2{
        padding:50px 40px 20px 40px;
        margin-top:-76px;
        background:$white;
        box-shadow:2px 6px 14px $gray;
        &:hover{
            transform: scale(1.2);
            background:#e150bf;
        }
        img{
            margin-left:40px;
        }
        h2{
            color:$black;
            font-weight:bold;
            font-size:19px;
            text-transform: capitalize;
            text-align:center;
        }
        p{
            font-size:15px;
            margin-left:-20px;
            text-align:center;
            text-transform:capitalize;
        } 
    }
}
.bannercontainer
{
    margin-bottom:83px;
    .steps1{
        margin-top:105px;
        h2{
            color:$orange;
            font-size:16px;
            text-transform:uppercase;
            font-weight:bold;
        }
        h3{
            font-size:30px;
            font-weight:bold;
            text-transform: capitalize;
            line-height:36px;
            strong{
                color:$orange;
            }
        }
        h4{
            color:$orange;
        }
        h5{
            font-size:17px;
            line-height:24px;
            text-transform:capitalize;
            color:$blue;
        }
        p{
            font-size:16px;
            text-transform:capitalize;
            margin-top:40px;
            margin-bottom:10px;
            color:$blue;
        }
        .sector{
            padding-bottom:15px;
            a{
                font-size:22px;
                font-weight:bold;
                color:$blue;
                font-weight:bold;

            }
        }
        .margin{
            border-bottom:1px solid $gray;
            margin-top:18px;
            margin-bottom:10px;
        }
        .any{
            h2{
                font-size:16px;
                color:$blue;
                text-transform:capitalize;
                font-weight:normal;
                strong{
                    color:$orange;
                    text-decoration: underline;
                }
            }
        }
    }
    .steps2{
        margin-top:105px;
    }
}
.softwarecontainer
{
    margin:0px -15px;
    background:$indigo;
    padding:80px 0px;
    .soft{
        margin:0px -15px;
    }
    .tech{
        text-align:center;
        h2{
            color:$orange;
            font-size:20px;
            line-height:26px;
            text-transform:uppercase;
            font-weight:bold;
        }
        h3{
            font-size:34px;
            font-weight:bold;
            line-height:40px;
            color:$black;
            text-transform:capitalize;
        }
        h4{
            font-size:34px;
            line-height:40px;
            font-weight:bold;
            color:$black;
            text-transform:capitalize;
        }
        h5{
            color:$orange;
            font-size:20px;
            font-weight:bold;
        }
    }
    .tech1{
        margin-top:63px;
        background:$white;
        padding-bottom:36px;
        padding-top:25px;
        &:hover{
            transform: scale(1.2);
            background:$orange;
        }
        h2{
            font-size:20px;
            color:$black;
            font-weight:bold;
            text-align:center;
            text-transform:capitalize;
            margin-bottom:20px;
        }
        img{
            margin-left:244px;
            margin-bottom:20px;
        }
        p{
            text-align:center;
            font-size:16px;
            line-height:22px;
            text-transform: capitalize;
            margin-bottom:20px;
            padding:0px 20px;
            color:$blue;
        }
        h3{
            text-transform:uppercase;
            font-size:16px;
            text-align:center;
            color:$blue;
        }
    }
    .tech2{
        margin-top:63px;
        background:$orange;
        padding-bottom:36px;
        padding-top:25px;
        &:hover{
            transform: scale(1.2);
            background:$gray;
        }
        h2{
            font-size:20px;
            color:$white;
            font-weight:bold;
            text-align:center;
            text-transform:capitalize;
            margin-bottom:20px;
        }
        img{
            margin-left:244px;
            margin-bottom:20px;
        }
        p{
            text-align:center;
            font-size:16px;
            line-height:22px;
            text-transform: capitalize;
            margin-bottom:20px;
            color:$white;
            padding:0px 20px;
        }
        h3{
            text-transform:uppercase;
            font-size:16px;
            text-align:center;
            color:$white;
        }
    }
}
.mergecontainer
{
    margin:0px -15px;
    .merge1{
        margin:0px -15px;
        background:url('../images/home1-halfbg-scaled.jpg') no-repeat 0px 0px / 115%;
        height:800px;
    }
    .merge2{
        img{
            margin-top:57px;
        }
    }
    .merge3{
        margin-top:80px;
        h2{
            color:$orange;
            font-weight:bold;
            text-transform:uppercase;
            font-size:20px;
        }
        h3{
            color:$white;
            font-weight:bold;
            font-size:35px;
            line-height:41px;
            text-transform:capitalize;
            strong{
                color:$orange;
            }

        }
        h4{
            color:$orange;
        }
        p{
            color:$white;
            font-size:16px;
            line-height:22px;
            text-transform:capitalize;
            margin-bottom:24px;
        }
    }
    .img1{
        border:0px;
    }
    .product1{
        h2{
            color:$white;
            font-weight:bold;
            font-size:20px;
            text-transform: capitalize;
        }
        p{
            color:$white;
            font-size:15px;
            line-height:21px;
            text-transform: capitalize; 
        }
    }
    .margin1{
        border-bottom:1px solid $gray;
        margin:20px 0px;
    }
}
.team
{
    margin-top:80px;
    h2{
        color:$orange;
        text-transform:uppercase;
        font-weight:bold;
        font-size:18px;
    }
    h3{
        color:$black;
        text-transform:capitalize;
        font-weight:bold;
        font-size:30px;
    }
}
.team1
{   
    margin-top:95px;
    p{
        text-transform:capitalize;
        color:black;
        font-size:19px;
        line-height:25px;
    }
}
.team2
{
    border:1px solid white;
    margin-top:66px;
    background:url('../images/team2.jpg') no-repeat 0px 0px / 100%;
    height:389px;
    &:hover{
        transform: scale(1.2);
        box-shadow:2px 6px 14px $gray;
    }
    h2{
        border:1px solid white;
        text-align:center;
        color:black;
        font-weight:bold;
        text-transform:capitalize;
        font-size:20px;
        background:white;
        margin-top:345px;
        width:270px;
        margin-left:34px;
        padding:20px 0px 10px 0px;
        border-radius:5px;
    }
    h3{
        border:1px solid white;
        text-align:center;
        color:black;
        text-transform:uppercase;
        font-size:14px;
        background:white;
        margin-top:-11px;
        width:270px;
        margin-left:34px;
        padding:5px 0px;
    }
}
.team3
{
    border:1px solid white;
    margin-top:66px;
    background:url('../images/team3.jpg') no-repeat 0px 0px / 100%;
    height:389px;
    &:hover{
        transform: scale(1.2);
        box-shadow:2px 6px 14px $gray;
    }
    h2{
        border:1px solid white;
        text-align:center;
        color:black;
        font-weight:bold;
        text-transform:capitalize;
        font-size:20px;
        background:white;
        margin-top:345px;
        width:270px;
        margin-left:34px;
        padding:20px 0px 10px 0px;
        border-radius:5px;
    }
    h3{
        border:1px solid white;
        text-align:center;
        color:black;
        text-transform:uppercase;
        font-size:14px;
        background:white;
        margin-top:-11px;
        width:270px;
        margin-left:34px;
        padding:5px 0px;
    }
}
.team4
{
    border:1px solid white;
    margin-top:66px;
    background:url('../images/team4.jpg') no-repeat 0px 0px / 100%;
    height:389px;
    &:hover{
        transform: scale(1.2);
        box-shadow:2px 6px 14px $gray;
    }
    h2{
        border:1px solid white;
        text-align:center;
        color:black;
        font-weight:bold;
        text-transform:capitalize;
        font-size:20px;
        background:white;
        margin-top:345px;
        width:270px;
        margin-left:34px;
        padding:20px 0px 10px 0px;
        border-radius:5px;
    }
    h3{
        border:1px solid white;
        text-align:center;
        color:black;
        text-transform:uppercase;
        font-size:14px;
        background:white;
        margin-top:-11px;
        width:270px;
        margin-left:34px;
        padding:5px 0px;
    }
}
.clientcontainer
{
    margin:150px 0px -15px -15px;
    border:1px solid white;
    .client{
        margin:0px -15px;
        background:url('../images/slider-2.jpg') no-repeat -343px 0px / 151%;
        height:700px;
    }
    .client1{
        text-align:center;
        margin-top:66px;
        a{
            font-size:50px;
            color:$orange;
            border-radius:100%;
            padding:20px 30px;
            background:$white;
            box-shadow: 10px 17px 52px gray;
            &:hover{
                transform: scale(1.2);
                background:$gray;
            }
        }
        h2{
            color:$white;
            font-size:34px;
            font-weight:bold;
            line-height:40px;
            text-transform:capitalize;
            margin-top:78px;
        }
        h3{
            color:$white;
            font-size:34px;
            font-weight:bold;
            line-height:40px;
            text-transform:capitalize;
        }
        h4{
            color:$white;
            font-size:14px;
        }
        p{
            font-size:18px;
            line-height:24px;
            color:$white;
        }
        .custom-warning{
            background:$orange;
            padding:18px 30px;
            font-size:20px;
            margin-top:30px;
            border:0px;
            &:hover{
                transform: scale(1.2);
                background:$gray;
            }
        }
    }
    .client2
    {
        margin-top:150px;
    }
    .client3{
        background:$white;
        padding:33px 63px 35px 63px;
        &:hover{
            transform: scale(1.2);
            background:$gray;
        }
        h2{
            color:$black;
            font-size:28px;
            font-weight:bold;
            line-height:36px;
            text-transform:capitalize;
            text-align:center;
        }
        h3{
            color:$gray;
            font-size:14px;
            line-height:20px;
            text-transform:capitalize;
            font-weight:normal;
            text-align:center;
        }
        h4{
            color:$gray;
            font-size:16px;
            line-height:22px;
            text-transform:capitalize;
            text-align:center;
        }
        h5{
            color:$black;
            font-size:21px;
            font-weight:bold;
            line-height:28px;
            text-transform:capitalize;
            text-align:center;
            margin-top:56px;
        }
        h6{
            color:$black;
            font-size:24px;
            font-weight:bold;
            line-height:34px;
            text-transform:capitalize;
            text-align:center;
        }
        p{
            color:$gray;
            font-size:13px;
            text-align:justify;
            line-height:19px;
            text-transform:capitalize;
        }
    }
    .client4
    {
        background: $orange;
        padding:33px 63px 35px 63px;
        margin-left:-31px;
        &:hover{
            transform: scale(1.2);
            background:$gray;
        }
        img{
            border-radius:100px;
            margin-left:172px;
            margin-top:45px;
        }
        p{
            color:$white;
            font-size:18px;
            line-height:24px;
            margin-top:30px;
            text-transform: capitalize;
        }
        h2{
            color:$white;
            font-weight:bold;
            text-align:center;
            font-size:20px;
            text-transform:capitalize;
        }
        h3{
            color:$white;
            font-weight:bold;
            text-align:center;
            font-size:16px;
            text-transform:capitalize;
        }
    }
}
.datacontainer
{
    margin:0px -15px;
    .data{
        margin:101px -15px 0px -15px;
        background:$orange;
        padding-bottom:55px;
    }
    .team10{
        margin-top:80px;
        h2{
        text-transform:uppercase;
        font-weight:bold;
        font-size:18px;
        color:$white;
        }
        h3{
        color:$white;
        text-transform:capitalize;
        font-weight:bold;
        font-size:30px;
        }
    }
    .team11{
        margin-top:95px;
        p{
        text-transform:capitalize;
        color:$white;
        font-size:19px;
        line-height:25px;
        }
    }
}
.discussion
{
    .employee{
        margin-top:20px;
        img{
            width:167px;
        }
       
    }
    .employee7{
        margin-top:20px;
        overflow:hidden;
        img{
            width:341px;
            height:415px;
            margin-left:63px;
        }
       
    }
    .employee8{
        margin-top:20px;
        img{
            width:100%;
            height:415px;
        }
       
    }
    .employee10{
        margin-top:20px;
        img{
            width:100%;
            height:415px;
        }
    }
    
}
.workcontainer
{
    margin-top:120px;
    .work1{
        h2{
            font-size:18px;
            font-weight:bold;
            text-transform: uppercase;
            text-align:center;
            line-height:24px;
            color:$orange;
        }
        h3{
            font-size:34px;
            font-weight:bold;
            text-transform:capitalize;
            text-align:center;
            line-height:40px;
            color:$black;
            strong{
                color:$orange;
            }
        }
        h4{
            color:$orange;
            font-weight:bold;
            text-align: center;
        }
    }
    .round1{
        background:url('../images/process1.jpg') no-repeat 0px 0px / 100%;
        height:194px;
        width:193px;
        border-radius:100%;
        margin-top:65px;
        &:hover{
            transform: scale(1.2);
            box-shadow:2px 6px 14px $gray;
        }
        a{
            font-size:20px;
            color:$white;
            font-weight:bold;
            border-radius:100%;
            padding:20px 20px;
            background:$orange;
            position:relative;
            top:89px;
            left:-34px;
            box-shadow: 13px 3px 32px white;
            &:hover{
                background:$gray;
            }
        }
    }
    .round3{
        background:url('../images/process2.jpg') no-repeat 0px 0px / 100%;
        height:194px;
        width:193px;
        border-radius:100%;
        margin-top:65px;
        &:hover{
            transform: scale(1.2);
            box-shadow:2px 6px 14px $gray;
        }
        a{
            font-size:20px;
            color:$white;
            font-weight:bold;
            border-radius:100%;
            padding:20px 20px;
            background:$orange;
            position:relative;
            top:80px;
            left:-34px;
            box-shadow: 13px 3px 32px white;
            &:hover{
                background:$gray;
            }
        }
    }
    .round4{
        background:url('../images/process3.jpg') no-repeat 0px 0px / 100%;
        height:194px;
        width:193px;
        border-radius:100%;
        margin-top:65px;
        &:hover{
            transform: scale(1.2);
            box-shadow:2px 6px 14px $gray;
        }
        a{
            font-size:20px;
            color:$white;
            font-weight:bold;
            border-radius:100%;
            padding:20px 20px;
            background:$orange;
            position:relative;
            top:80px;
            left:-45px;
            box-shadow: 13px 3px 32px white;
            &:hover{
                background:$gray;
            }
        }
    }
    .round5{
        background:url('../images/process4.jpg') no-repeat 0px 0px / 100%;
        height:261px;
        border-radius:100%;
        height:194px;
        width:193px;
        margin-top:65px;
        &:hover{
            transform: scale(1.2);
            box-shadow:2px 6px 14px $gray;
        }
        a{
            font-size:20px;
            color:$white;
            font-weight:bold;
            border-radius:100%;
            padding:20px 20px;
            background:$orange;
            position:relative;
            top:80px;
            box-shadow: 13px 3px 32px white;
            left:-34px;
            &:hover{
                background:$gray;
            }
        }
    }

    .round2{
        margin-top:15px;
        h2{
            color:$black;
            font-weight:bold;
            font-size:20px;
            text-align:center;
            text-transform:capitalize;
            margin-left:-24px;
        }
        h3{
            text-align:center;
            font-size:16px;
            line-height:22px;
            text-transform:capitalize;
        }
    }
    .desk1{
        margin-top:85px;
        img{
            width:100%;
        }
    }
    .desk2{
        margin-top:85px;
        background:$white;
        padding-bottom:30px;
        border:0px;
        h2{
            color:$black;
            font-size:30px;
            text-transform:capitalize;
            line-height:36px;
            font-weight:bold;
            margin-top:122px;
            border:0px;
        }
        P{
            text-transform:capitalize;
            font-size:16px;
            margin-top:30px;
            line-height:22px;
        }
        .custom-p{
            background:$orange;
            padding:15px 30px;
            font-size:18px;
            text-transform:capitalize;
            margin-top:40px;
            &:hover{
                transform:scale(1.2);
                background:$gray;
            }
        }
    }
}
.imagecontainer
{
    margin:-137px -15px 0px -15px;
    background:$indigo;
    padding-bottom:100px;
    .work2{
        margin-top:76px;
        h2{
            color:$orange;
            font-weight:bold;
            text-transform:uppercase;
            font-size:20px;
            text-align:center;
            line-height:26px;

        }
        h3{
            color:$black;
            font-weight:bold;
            text-transform:capitalize;
            font-size:40px;
            text-align:center;
            line-height:46px;
            strong{
                color:$orange;
            }
        }
        h4{
            color:$orange;
            text-align:center;
            font-weight:bold;
        }
    }
    .work3{
        background:url('../images/bg1.jpg') no-repeat 0px 0px / 100%;
        height:280px;
        margin-top:53px;
        border:1px solid white;
        border-radius:5px;
        &:hover{
            transform:scale(1.2);
        }
        h2{
            font-size:17px;
            text-transform:uppercase;
            background:$orange;
            color:$white;
            font-weight:bold;
            padding:6px 12px;
            width:141px;
            position:relative;
            top:-4px;
        }
        h3{
            font-size:17px;
            text-transform:uppercase;
            background:$orange;
            color:$white;
            font-weight:bold;
            padding:6px 12px;
            width:155px;
            position:relative;
            top:-55px;
            left:152px;  
        }
    }
    .work4{
        background:url('../images/bg2.jpg') no-repeat 0px 0px / 100%;
        height:280px;
        margin-top:53px;
        border:1px solid white;
        border-radius:5px;
        &:hover{
            transform:scale(1.2);
        }
        h2{
            font-size:17px;
            text-transform:uppercase;
            background:$orange;
            color:$white;
            font-weight:bold;
            padding:6px 12px;
            width:64px;
            position:relative;
            top:-10px; 
            left:7px;
        }
    }
    .work5{
        background:url('../images/bg3.jpg') no-repeat 0px 0px / 100%;
        height:280px;
        margin-top:53px;
        border:1px solid white;
        border-radius:5px;
        &:hover{
            transform:scale(1.2);
        }
        h3{
            font-size:17px;
            text-transform:uppercase;
            background:$orange;
            color:$white;
            font-weight:bold;
            padding:6px 12px;
            width:162px;
            position:relative;
            top:-10px;
            left:9px;  
        }
    }
    .work9{
        padding:30px;
        h2{
            color:$gray;
            font-size:16px;
            line-height:22px;
            margin-top:-15px;
        }
        h3{
            text-transform:capitalize;
            font-weight:bold;
            font-size:20px;
            color:$black;
            line-height:26px;
        }
        p{
            text-transform:capitalize;
            font-size:17px;
            color:$gray;
            line-height:23px; 
        }
        a{
            color:$orange;
            font-size:16px;
            text-transform:capitalize;
            font-weight:bold;
            text-decoration: none;
            &:hover{
                transform:scale(1.2);
                background:$gray;
            }
        }
    }
}
.footercontainer
{
    margin:0px -15px;
    background:#252628;
    padding-bottom:27px;
    .footer1{
        border:0px;
    }
    .foot1{
        margin-top:70px;
    }
    .foot2{
        border:0px;
    }
    .foot3{
        h2{
            color:$white;
            font-weight:bold;
            font-size:20px;
            text-transform:capitalize;
        }
    }
    .custom-email{
        border-radius:5px;
        padding:31px 27px;
    }
    .email{
        h2{
            font-size:17px;
            text-transform:uppercase;
            background:$orange;
            border-radius:3px;
            color:$white;
            font-weight:bold;
            padding:16px 25px;
            width:155px;
            position:relative;
            top:-78px;
            left:294px;  
        }
    }
    .border1{
        border:1px solid $gray;
        margin-top:-30px;
    }
    .last1{
        p{
            color:$white;
            font-size:16px;
            line-height:22px;
            text-transform:capitalize;
            margin-top:30px;
            padding-bottom:30px;
        }
        a{
            border-radius:3px;
            margin-right:5px;
            font-size:20px;
            color:$white;
            padding:7px 10px;
            border:1px solid white;
        }
    }
    .last2{
        h1{
            color:$white;
            font-weight:bold;
            text-transform:capitalize;
            font-size:25px;
            margin-top:2px;
            margin-bottom:30px;
        }
        h2{
            color:$white;
            text-transform:capitalize;
            font-size:16px;
            line-height:22px;
        }
        h3{
            color:$white;
            text-transform:capitalize;
            font-size:16px;
            line-height:22px;
        }
        h4{
            color:$white;
            text-transform:capitalize;
            font-size:16px;
            line-height:22px;
        }
        h5{
            color:$white;
            text-transform:capitalize;
            font-size:16px;
            line-height:22px;
        }
        h6{
            color:$white;
            text-transform:capitalize;
            font-size:16px;
            line-height:22px;
        }
    }
    .last3{
        h1{
            color:$white;
            font-weight:bold;
            text-transform:capitalize;
            font-size:25px;
            margin-top:2px;
            margin-bottom:30px;
        }
        h2{
            color:$white;
            text-transform:capitalize;
            font-size:16px;
            line-height:22px;
            margin-bottom:20px;
        }
        h3{
            color:$white;
            text-transform:capitalize;
            font-size:16px;
            line-height:22px;
        }
        h4{
            color:$white;
            text-transform:capitalize;
            font-size:16px;
            line-height:22px;
            margin-top:-8px; 
        }
        h5{
            color:$white;
            text-transform:capitalize;
            font-size:16px;
            line-height:22px;
        }
        h6{
            color:$white;
            text-transform:capitalize;
            font-size:16px;
            line-height:22px;
            margin-top:-8px;  
        }
    }
    .last4{
        h1{
            color:$white;
            font-weight:bold;
            text-transform:capitalize;
            font-size:25px;
            margin-top:2px;
            margin-bottom:30px;
        }
    }
    .last5{
        border:0px;
    }
    .last6{
        h2{
            color:$white;
            font-weight:bold;
            text-transform:capitalize;
            font-size:17px;
            margin-left:33px;
            line-height:23px;
            margin-top:6px;
        }
        h3{
            color:$gray;
            text-transform:capitalize;
            font-size:14px;
            margin-left:33px;
            line-height:20px; 
            margin-top:-1px;
        }
    }
    .border2{
        border:1px solid $gray;
        margin-top:100px;
    }
    .footlast1{
        margin-top:28px;
        h2{
            font-size:16px;
            color:$white;
        }
    }
    .footlast2{
        margin-top:28px;
        h3{
            font-size:16px;
            color:$white;
            text-transform:capitalize;
        }
    }
    .footlast3{
        margin-top:28px;
        h3{
            font-size:16px;
            color:$white;
            text-transform:capitalize;
            margin-top:-24px;
        }
    }
    .footlast4{
        margin-top:28px;
        h3{
            font-size:16px;
            color:$white;
            text-transform:capitalize;
            margin-top:-24px;
            margin-left:19px;
        }
    }

}
@media(min-width:320px) and (max-width:480px){
    .custom-navbar{
        .container{
            width:100%;
        }
    }
    .footlast2{
        border:1px solid red;
        margin-top:28px;
        h3{
            font-size:16px;
            color:green;
            text-transform:capitalize;
        }
    }
    .clientcontainer{
        .client{
            background: url(../images/slider-2.jpg) no-repeat -83px 0px/151%;
        }
        .client2{
            margin-top:798px;
        }
        .client3{
            margin-top:603px;
        }
        .client1{
        color:black;
        h2{
            color:black;
            font-size:20px;
        }
        h3{
            color:black;
            font-size:20px;
        }
        h4{
            color:black;
        }
        p{
            color:black;
        }
        .client3{
            margin-top:0px;
        }
    }
    .client2
    {
        margin-top:150px;
    }
    }
    .imagecontainer{
        .work3{
            h3{
                left:136px;
            }
        }
    }
    .footercontainer{
        .email{
            h2{
                left:114px;
            }
        }
    }
    .bannercontainer{
        .steps2{
            img{
                width:100%;
            }
        }
    }
    .mergecontainer{
        .img1{
            margin-top:-139px;
        }
        .merge2{
            img{
                width:100%;
            }
        }
        .merge3{
            h3{
                color:black;
                font-size:20px;
            }
        }
    }
    .team{
        h2{
            margin-top:209px;
        }
    }
    .softwarecontainer{
        .tech1{
            img{
                margin-left:102px;
            }
        }
        .tech2{
            img{
                margin-left:109px;
            }
        }
    }
    .team2{
        h2{
            margin-left:0px;
        }
        h3{
            margin-left:0px;
        }
    }
    .team3{
        h2{
            margin-left:0px;
        }
        h3{
            margin-left:0px;
        }
    }
    .team4{
        h2{
            margin-left:0px;
        }
        h3{
            margin-left:0px;
        }
    }
    .bodycontainer{
        .new1{
            margin-top:25px;
        }
        .new2{
            margin-top:25px;
        }
    }
    .clientcontainer{
        .client4{
            img{
                margin-left:10px;
            }
        }
    }
    .workcontainer{
        .round1{
            margin-left:43px;
        }
        .round3{
            margin-left:43px;
        }
        .round4{
            margin-left:43px;
        }
        .round5{
            margin-left:43px;
        }
    }
    .discussion{
        .employee{
            img{
                margin-top:1431px;
                width:100%;
            }
        }
        .employee7{
            img{
                width:100%;
                margin-left:0px;
            }
        }
    }
   .custom-carousel{
    .carousel-caption{
        img{
            margin-left:0px;
            width:100%;
        }
        .item{
            padding-bottom:100px;
        }
        h5{
            font-size:20px;
            margin-left:0px;
        }
        h4{
            font-size:20px;
            margin-left:0px;
        }
        h2{
            width:100%;
            margin-left:0px;
        }
        h3{
            margin-left:337px;
            margin-top:299px;
        }
        p{
            margin-left:0px;
            width:100%;
        }
        h6{
            margin-left:62px;
            margin-top:267px;
        }
        a{
            left:-95px;
            top:340px;
        }
        .rec{
            img{
                display:none;
            }
        }
        .rec1{
            img{
                display:none;
            }
        }
        .rec2{
            img{
                display:none;
            }
        }
    }
   }
}   
    
    
