@font-face {
    font-family: 'Nunito Sans 7pt Expanded';
    src: url('../fonts/NunitoSans7ptExpanded-Bold.eot');
    src: url('../fonts/NunitoSans7ptExpanded-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NunitoSans7ptExpanded-Bold.woff2') format('woff2'),
        url('../fonts/NunitoSans7ptExpanded-Bold.woff') format('woff'),
        url('../fonts/NunitoSans7ptExpanded-Bold.ttf') format('truetype'),
        url('../fonts/NunitoSans7ptExpanded-Bold.svg#NunitoSans7ptExpanded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 7pt Condensed';
    src: url('../fonts/NunitoSans7ptCondensed-Regular.eot');
    src: url('../fonts/NunitoSans7ptCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NunitoSans7ptCondensed-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans7ptCondensed-Regular.woff') format('woff'),
        url('../fonts/NunitoSans7ptCondensed-Regular.ttf') format('truetype'),
        url('../fonts/NunitoSans7ptCondensed-Regular.svg#NunitoSans7ptCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
$white:white;
$black:black;
$red:red;
$blue:#f4f9fd;
$green:#61b91a;
$gray:gray;
$yellow:#ea981a;
$navy:#222222;
$risk:#d2d3d4;
$nine:#d7d7d8;
$real:#b3af54;
$fix:blue;
body{
    font-family: 'Nunito Sans 7pt Condensed';
}
.headercontainer
{
    margin:0px -15px;
    background:$blue;
    padding:10px 37px;
    a{
        padding:8px 13px;
        font-size:14px;
        background: $green;
        color:$white;
        margin-right:23px;
        float:left;
    }
    .impo{
        float:left;
        a{
            padding:8px 13px;
            font-size:14px;
            background: $green;
            color:$white;
            margin-left:372px;  
        }
        .element{
            font-size:16px;
            color:$black;
            padding-left:432px;
            margin-top:8px;
            a{
                color:$black;
            }
        }
    }
    .impo1{
        float:left;
        a{
            padding:8px 13px;
            font-size:14px;
            background: $green;
            color:$white;
            margin-left:973px;  
            margin-top:-36px;
        }
        .element2{
            font-size:16px;
            color:$black;
            padding-left:1030px;
            margin-top:-32px;
            a{
                color:$black;
            }
        }
    }
    .impo3{
        float:left;
        a{
            padding:8px 13px;
            font-size:16px;
            background: $green;
            color:$white;
            margin-left:1206px;  
            margin-top:-38px;
        }
        .element3{
            font-size:16px;
            color:$black;
            padding-left:1281px;
            margin-top:-29px;
            a{
                color:$black;
            }
        }
    }
    .impo8{
        float:left;
        a{
            background:none;
            font-size:16px;
            color:$black;
            margin-left:1395px;  
            margin-top:-41px;
        }
    }
    .fclear{
        clear:both;
    }
}
.header1
{
    margin:0px -15px;
    .custom-navbar{
        background:none;
        color:$black;
        border-radius:0px;
        margin-bottom:0px;
        border:none;
        padding-top:10px;
        padding-bottom:10px;
    }
    .navbar-brand{
        img{
            margin-top:-35px;
            width:140%;
        }
    }
    .container-fluid{
        width:1515px;
    }
    .navbar-inverse .navbar-nav>li>a
    {
        color:$black;
        &:hover{
            color:$green;
            background:none;
            &:hover{
                color:$green;
                background:none;
            }
        }
    }
    .navbar-right
    {
        margin-top:14px;
        margin-right:6px;
        color:$black;
        width:1060px;
        a{
            color:$black;
            font-weight:bold;
            font-size:16px;
            &:hover{
                background:$white;
            }
        }
    }
    .search{
        margin-top:-40px;
        margin-left:124px;
        a{
            font-size:24px;
            color:$black;
            font-weight:bold;
        }
    }
    .search1{
        margin-top:-34px;
        margin-left:186px;
        a{
            font-size:24px;
            color:$black;
            font-weight:bold;
        }
    }
    .search4{
        margin-top:-41px;
        margin-left:17px;
        a{
            font-size:7px;
            color:$white;
            font-weight:bold;
            border-radius:100%;
            background:$green;
            padding: 5px;
        }
    }
    .services1{
        margin-top:-24px;
        margin-left:257px;
    a{
        background:$green;
        text-transform:capitalize;
	    font-size:17px;
	    border-radius:5px;
	    padding:18px 40px;
	    display:inline-block;
	    text-decoration:none;
	    color:$white;
        font-weight:bold;
	    margin:0px -2px;
        &:hover{
            color:$white;
        }
    }
    }

}
.record
{
    margin:0px -15px;
    .regress{
        margin-top:25px;
        margin-bottom:30px;
        background:$blue;
        padding:90px 0px;
        h1{
            color:$black;
            font-size:45px;
            font-weight:bold;
            text-align:center;
            text-transform:capitalize;
        }
        h2{
            color:$green;
            text-align:center;
            margin-left:-193px;
            text-transform:capitalize;
            font-size:18px;

        }
        h3{
            color:$black;
            text-align:center;
            position:relative;
            top:-41px;
            text-transform:capitalize;
            font-size:18px;
            padding-left:169px;
        }
    }
}
.bluetooth
{
    background:url('../images/product-4.jpg') no-repeat 0px 0px / 60%;
    height:385px;
}
.blue1
{
    h1{
        font-size:38px;
        color:$black;
        font-weight:bold;
        text-transform:capitalize;
        margin-left:-275px;
    }
    .star{
        margin-left:-275px;
        margin-top:15px;
        a{
            color:$yellow;
            font-size:18px;
        }
        h2{
            color:$green;
            font-size:18px;
            text-transform:capitalize;
            position:relative;
            top:-46px;
            padding-left:114px;
        }
        h3{
            color:$green;
            font-size:18px;
            text-transform:capitalize;
            margin-top:-24px;
        }
        p{
            color:$black;
            font-size:17px;
            line-height:23px;
            text-transform:capitalize;
            padding-bottom:20px;
        }
        .line{
            width:22px;
            border:2px solid $risk;
            margin-left:30px;


        }
        .min{
            h3{
                color:$black;
                font-weight:bold;
                font-size:20px;
                margin-left:-25px;
                margin-top:-10px;
            }
        }
        .plus{
            h4{
                color:$risk;
                font-size:22px;
                margin-top:-10px;
                margin-left:-92px;
                font-weight:bold;
            }
        }
        .services2{
            margin-top:-37px;
            margin-left:118px;
        a{
            background:$green;
            text-transform:capitalize;
            font-size:17px;
            border-radius:5px;
            padding:12px 40px;
            display:inline-block;
            text-decoration:none;
            color:$white;
            font-weight:bold;
            margin:0px -2px;
            &:hover{
                background:$red;
                color:$white;
            }
        }
        }
        .services3{
            margin-top:-37px;
            margin-left:-59px;
        a{
            background:$green;
            text-transform:capitalize;
            font-size:17px;
            border-radius:5px;
            padding:12px 40px;
            display:inline-block;
            text-decoration:none;
            color:$white;
            font-weight:bold;
            margin:0px -2px;
            &:hover{
                background:$red;
                color:$white;
            }
        }
    }
    .green{
        h1{
            font-size:18px;
            padding-left:305px;
            text-transform:capitalize;
            margin-top:20px;
        }
    }
    }
    .services5{
        margin-top:55px;
        margin-left:-117px;
    a{
        background:$green;
        text-transform:capitalize;
        font-size:17px;
        padding:12px 40px;
        display:inline-block;
        text-decoration:none;
        color:$white;
        font-weight:bold;
        margin:0px -2px;
        &:hover{
            background:$white;
            color:$black;
        }
    }
    }
    .services6{
        margin-top:55px;
        margin-left:-268px;
    a{
        text-transform:capitalize;
        font-size:17px;
        padding:12px 40px;
        display:inline-block;
        text-decoration:none;
        color:$black;
        border:1px solid $gray;
        font-weight:bold;
        margin:0px -2px;
        &:hover{
            background:$green;
            color:$white;
        }
    }
    }
    .services7{
        margin-top:55px;
        margin-left:-328px;
    a{
        text-transform:capitalize;
        font-size:17px;
        padding:12px 40px;
        display:inline-block;
        text-decoration:none;
        color:$black;
        border:1px solid $gray;
        font-weight:bold;
        margin:0px -2px;
        &:hover{
            background:$green;
            color:$white;
        }
    }
    }
}
.description
{
    margin-top:40px;
    h1{
        font-size:30px;
        color:$black;
        font-weight:bold;
        text-transform:capitalize;
    }
    p{
        font-size:19px;
        line-height:25px;
        color:$black;
        margin-top:22px;
    }
}
.list
{
    margin-top:20px;
    ul{
        li{
            font-size:18px;
            text-transform:capitalize;
            padding-bottom:10px;
        }
    }
}
.description1
{
    margin-top:80px;
    h1{
        font-size:30px;
        color:$black;
        font-weight:bold;
        text-transform:capitalize;
    }
}
.mouse20
{
    margin-top:40px;
    img{
        width:100%;
        height:314px;
    }
    h2{
        color:$green;
        margin-top:-13px;
        font-size:18px;
        text-transform:capitalize;
        font-weight:bold;
        margin-bottom:18px;
    }
    h3{
        color:$gray;
        font-size:18px;
        text-transform:capitalize;
        font-weight:bold;
        position:relative;
        top:-41px;
        padding-left:77px;
    }
    h5{
        color:$red;
        text-decoration: line-through;
        font-size:18px;
        text-transform:capitalize;
        font-weight:bold;
    }
    span{
        color: $white;
        text-transform:capitalize;
        font-weight: bold;
        font-size: 15px;
        border-radius: 100%;
        display: inline-block;
        padding: 14px 15px;
        width: 59px;
        background:$real;
        position: relative;
        top: -315px;
        right: -291px;
        text-decoration:none;
    }
}
.services10{
    margin-top:-10px;
    margin-left:0px;
a{
    background:$green;
    text-transform:capitalize;
    font-size:17px;
    border-radius:5px;
    padding:12px 40px;
    display:inline-block;
    text-decoration:none;
    color:$white;
    font-weight:bold;
    margin:0px -2px;
    &:hover{
        background:$red;
        color:$white;
    }
}
}
.mouse10
{
    margin-top:45px;
    img{
        width:100%;
        height:314px;
    }
    h2{
        color:$green;
        margin-top:-20px;
        font-size:18px;
        text-transform:capitalize;
        font-weight:bold;
        margin-bottom:18px;
    }
    h3{
        color:$gray;
        font-size:18px;
        text-transform:capitalize;
        font-weight:bold;
        position:relative;
        top:-41px;
        padding-left:77px;
    }
    h5{
        color:$red;
        text-decoration: line-through;
        font-size:18px;
        text-transform:capitalize;
        font-weight:bold;
    }
    span{
        color: $white;
        text-transform:capitalize;
        font-weight: bold;
        font-size: 15px;
        border-radius: 100%;
        display: inline-block;
        padding: 14px 15px;
        width: 59px;
        background:$real;
        position: relative;
        top: -315px;
        right: -291px;
        text-decoration:none;
    }
}
.mouse5
{
    margin-top:40px;
    img{
        width:100%;
        height:314px;
    }
    h2{
        color:$green;
        margin-top:-20px;
        font-size:18px;
        text-transform:capitalize;
        font-weight:bold;
        margin-bottom:18px;
    }
    h3{
        color:$gray;
        font-size:18px;
        text-transform:capitalize;
        font-weight:bold;
        position:relative;
        top:-41px;
        padding-left:77px;
    }
    h5{
        color:$red;
        text-decoration: line-through;
        font-size:18px;
        text-transform:capitalize;
        font-weight:bold;
    }
    span{
        color: $white;
        text-transform:capitalize;
        font-weight: bold;
        font-size: 15px;
        border-radius: 100%;
        display: inline-block;
        padding: 14px 15px;
        width: 59px;
        background:$real;
        position: relative;
        top: -315px;
        right: -291px;
        text-decoration:none;
    }

}
.mouse2
{
    margin-top:40px;
    img{
        width:100%;
        height:314px;
    }
    h2{
        color:$green;
        margin-top:-20px;
        font-size:18px;
        text-transform:capitalize;
        font-weight:bold;
        margin-bottom:18px;
    }
    h3{
        color:$gray;
        font-size:18px;
        text-transform:capitalize;
        font-weight:bold;
        position:relative;
        top:-41px;
        padding-left:77px;
    }
    span{
        color: $white;
        text-transform:capitalize;
        font-weight: bold;
        font-size: 15px;
        border-radius: 100%;
        display: inline-block;
        padding: 14px 15px;
        width: 59px;
        background:$real;
        position: relative;
        top: -315px;
        right: -291px;
        text-decoration:none;
    }
    h5{
        color:$red;
        text-decoration: line-through;
        font-size:18px;
        text-transform:capitalize;
        font-weight:bold;
    }

}
.footercontainer
{
    margin:42px -15px 0px -15px;
    .footer{
        background:$blue;
        padding:50px 20px;
        .subscribe{
            margin-top:50px;
            h1{
                color:$black;
                font-size:40px;
                font-weight:bold;
                text-transform:capitalize;

            }
            h2{
                font-size:18px;
                color:$black;
                text-transform:capitalize;
            }
        }
        .custom-email{
            border-radius:5px;
            padding:27px 27px;
            margin-left:-140px;
            margin-top:50px;
            width:695px;
        }
        .email{
            h2{
                font-size:17px;
                text-transform:uppercase;
                background:$green;
                border-radius:3px;
                color:$white;
                font-weight:bold;
                padding:19px 25px;
                width:155px;
                position:relative;
                top:-76px;
                left:400px;  
            }
        }
    }
    .circle1{
        border-right:2px solid $nine;

        p{
            color:$black;
            font-size:18px;
            text-transform:capitalize;
            line-height:24px;
            margin-top:25px;
            margin-bottom:37px;
        }
        a{
            font-size:15px;
            color:$white;
            border-radius: 100%;
            background: $green;
            padding:4px 9px;
            margin-right:10px;
            &:hover{
                color:$fix;
            }
        }
    }
    .circle2{
        margin-top:-24px;
        border-right:2px solid $nine;
        h1{
            color:$black;
            font-size:20px;
            font-weight:bold;
            text-transform:uppercase;
            margin-bottom:28px;
        }
        h2{
            color:$black;
            font-size:16px;
            text-transform:capitalize; 
        }
        h3{
            color:$black;
            font-size:16px;
            text-transform:capitalize; 
            padding-bottom:15px;
        }
        h4{
            color:$black;
            font-size:16px;
            text-transform:capitalize; 
            padding-bottom:15px;
        }
        h5{
            color:$black;
            font-size:16px;
            text-transform:capitalize;
            padding-bottom:15px; 
        }
        h6{
            color:$black;
            font-size:16px;
            text-transform:capitalize;
            padding-bottom:15px; 
        }
        p{
            color:$black;
            font-size:16px;
            text-transform:capitalize;
            padding-bottom:15px; 
        }
        a{
            color:$black;
            font-size:16px;
            text-transform:capitalize;
            padding-bottom:15px;
            display:block;
            text-decoration:none;
            &:hover{
                color:$red;
            }  
        }

    }
    .circle3{
        margin-top:-24px;
        border-right:2px solid $nine;
        h1{
            color:$black;
            font-size:20px;
            font-weight:bold;
            text-transform:uppercase;
            margin-bottom:28px;
        }
        h2{
            color:$black;
            font-size:16px;
            text-transform:capitalize;   
        }
        h3{
            color:$black;
            font-size:16px;
            text-transform:capitalize; 
            padding-bottom:2px; 
            position:relative;
            top:5px;
        }
        h4{
            color:$black;
            font-size:16px;
            text-transform:capitalize;   
        }
        h5{
            color:$black;
            font-size:16px;
            text-transform:capitalize;   
            position:relative;
            top:30px; 
        }
        h6{
            color:$black;
            font-size:16px;
            text-transform:capitalize;   
            position:relative;
            top:54px; 
        }
        p{
            color:$black;
            font-size:16px;
            text-transform:capitalize;   
            position:relative;
            top:73px;   
        }
        a{
            text-decoration: none;
            color:$black;
            font-size:16px;
            text-transform:capitalize;   
            &:hover{
                color:$fix;
            }
        }
        .line4{
            width:326px;
            margin-bottom:20px;
            border:1px solid $nine;
        }
    }
    .circlecontent{
        a{
            text-decoration: none;
            color:$black;
            font-size:16px;
            text-transform:capitalize;   
            padding-bottom: 21px; 
            display:block;
            &:hover{
                color:$green;
            }
        }
    }
    .circle5{
        margin-top:-24px;
        border-right:2px solid $nine;
        h1{
            color:$black;
            font-size:20px;
            font-weight:bold;
            text-transform:uppercase;
        }
        .map{
            margin-top:15px;
            a{
                color:$green;
                text-align:center;
                font-size:20px;
                font-weight:bold;
            }
        }
        .map1{
            margin-top:5px;
            margin-left:-25px;
            h2{
                color:$black;
                font-size:17px;
                font-weight:bold;
                text-transform:capitalize;
            }
            h3{
                color:$black;
                font-size:17px;
                text-transform:capitalize; 
            }
            a{
                color:$black;
            }
        }
        .map20{
            margin-top:-9px;
            margin-left:-25px;
            h2{
                color:$black;
                font-size:17px;
                font-weight:bold;
                text-transform:capitalize;
            }
            h3{
                color:$black;
                font-size:17px;
                text-transform:capitalize; 
            }
            a{
                color:$black;
            }
        }
        .map10{
            margin-top:6px;
            a{
                color:$green;
                text-align:center;
                font-size:20px;
                font-weight:bold;
            } 
        }
    }
}
.footer-bottom
{
    padding:22px 20px 26px 20px;
    background: $navy;
    margin:0px -15px;
    .bottom1{
        h1{
            color:$white;
            font-size:17px;
            text-transform:capitalize; 
        }
    }
    .bottom2{
        img{
            border:1px solid $black;
            margin-left:370px;
        }
        .scroll-top {
            font-size:24px;
            color:$white;
            border-radius: 0px;
            background:$green;
            padding:7px 16px;
            position: fixed;
            bottom: -4px;
            right: 112px;
          }
          .scroll-top i {
            display: inline-block;
            color: $white;
        }
    }
}
@media(min-width:320px) and (max-width:480px){
    .header1{
        .container-fluid{
            width:100%;
        }
        .navbar-brand{
            img{
                width:100%;
            }
        }
        .navbar-inverse{
            .navbar-toggle{
                background:$red;
                margin-top:76px;
            }
        }
        .navbar-right{
            width:100%;
        }
        .services1{
            margin-left:0px;
            margin-top:30px;
        }
    }
    .headercontainer{
        a{
            font-size:10px;
            margin-right:6px;
            padding:10px 12px;
        }
        .impo{
            a{
                font-size:10px;
                margin-left:0px;
                margin-top:10px;
            }
            .element{
                padding-left:51px;
                margin-top:17px;
                font-size:15px;
            }
        }
        .impo1{
            a{
                margin-left:0px;
                font-size:10px;
                margin-top:10px;
            }
            .element2{
                padding-left:51px;
                margin-top:17px;
                font-size:15px;
            }
        }
        .impo3{
            a{
                margin-left:0px;
                font-size:10px;
                margin-top:10px;
            }
            .element3{
                padding-left:51px;
                margin-top:17px;
                font-size:15px;
            }
        }
        .impo8{
            a{
                margin-left:40px;
                font-size:10px;
                margin-top:10px;
            }
        }
        
    }
    .record{
        .regress{
            h1{
                font-size:20px;
            }
            h3{
                padding-left:113px;
                font-size:15px;
            }
        }
    }
    .bluetooth{
        background:url('../images/product-4.jpg') no-repeat 0px 0px / 100%; 
    }
    .blue1{
        h1{
            margin-left:0px;
            font-size:20px;
            margin-top:-69px;
        }
        .star{
            h2{
                padding-left:274px;
            }
            h3{
                margin-left:281px;
                margin-top:-45px;
            }
            p{
                margin-left:281px;
            }
            .line{
                margin-left:286px;
            }
            .services3{
                margin-left:308px;
                margin-top:6px;
            }
            .services2{
                margin-left:308px;
                margin-top:6px;
            }
            .services5{
                margin-top:-216px;
            }
            .min{
                h3{
                    margin-left:320px;
                }
            }
            .plus{
                h4{
                    margin-right:239px;
                    margin-left:342px;
                    margin-top:-35px;
                }
            }
        }
    }
    .list{
        ul{
            li{
                font-size:15px;
            }
        }
    }
    .description1{
        margin-top:20px;
    }
    .footercontainer{
        .circle1{
            a{
                display:inline-block;
            }
        }
        .circlecontent{
            margin-top:-233px;
            padding-left:158px;
        }
        .circle2{
            margin-top:0px;
        }
        .circle5{
            margin-top:82px;
            .map1{
                margin-top:5px;
                margin-left:-25px;
                .num{
                    padding-left:50px;
                }
                h2{
                    margin-top:-29px;
                    margin-left:55px;
                }
                h3{
                    margin-left:55px;
                }
            }
            .map10{
                margin-top:6px;
            }
            .map20{
                margin-top:-42px;
                margin-left:29px;
            }
        }
        .circle3{
            .line4{
                width:100%;
            }
        }
        .footer{
            .custom-email{
                width:100%;
                margin-left:0px;
            }
            .email{
                h2{
                    left:0px;
                    top:8px;
                }
            }
        }
    }
    .mouse20{
        span{
            right:-230px;
        }
    }
    .mouse10{
        span{
            right:-230px;
        }
    }
    .mouse5{
        span{
            right:-230px;
        }
    }
    .mouse2{
        span{
            right:-230px;
        }
    }

    .footer-bottom{
        .bottom2{
            img{
                margin-left:0px;
                width:100%;
            }
            a{
                left:0px;
            }
        }
    }
}